In [1]:
import os

# Anzeigen des aktuellen Arbeitsverzeichnisses
current_working_directory = os.getcwd()
print("Aktuelles Arbeitsverzeichnis:", current_working_directory)

Aktuelles Arbeitsverzeichnis: /Users/henrikfliegel/Desktop/Uni/SoSe24/MlClaas/ML-with-CLAAS

In [9]:
import pandas as pd

df = pd.read_excel('CLAAS_data/Option Take Rate_2023.XLSX')
df

,Material,UTyp,Jahr,PLand,Merkmal,MerkWert,S-Merkmal,S-Maschine,%-Anteil,Bezeich.Merkmalwert
0,20011530,113,2023,CRU,MD_B00,10,5,5,100,Generation 0
1,20011530,113,2023,CRU,MD_B06,60,5,5,100,Standard Antr.
2,20011530,113,2023,CRU,MD_B08,40,5,5,100,SW-Zylinder 2-Wege System
3,20011530,113,2023,CRU,MD_B10,170,5,5,100,V-Kanal CAC gesch Kette
4,20011530,113,2023,CRU,MD_B11,20,5,5,100,Kupplung normal
...,...,...,...,...,...,...,...,...,...,...
26194,20011550,846,2023,CCN,MD_T03,20,6,6,100,Maschine fahrbereit
26195,20011550,846,2023,CCN,MD_T03,190,6,6,100,Konservierung (?ersee)
26196,20011550,846,2023,CCN,MD_T03,410,6,6,100,ALR-Beleuchtung 2
26197,20011550,846,2023,CCN,MD_Z02,1147,6,6,100,822/122_CERIO 680
26198,20011550,846,2023,CCN,MD_Z03,556,6,6,100,H11/070 CORIO 1270 C CON

In [13]:
# Definiere die Liste der gewÃ¼nschten Merkmale
gewÃ¼nschte_merkmale = ['MD_P02', 'MD_N02', 'MD_N08', 'MD_N05', 'MD_B10', 'MD_G02']

# Filtere den DataFrame, um nur Zeilen mit den gewÃ¼nschten Merkmalen zu behalten
filtered_df = df[df['Merkmal'].isin(gewÃ¼nschte_merkmale)]

filtered_df = filtered_df.reset_index(drop=True)


# ÃœberprÃ¼fe das Ergebnis
filtered_df

,Material,UTyp,Jahr,PLand,Merkmal,MerkWert,S-Merkmal,S-Maschine,%-Anteil,Bezeich.Merkmalwert
0,20011530,113,2023,CRU,MD_B10,170,5,5,100,V-Kanal CAC gesch Kette
1,20011530,113,2023,CRU,MD_G02,402,5,5,100,SC + STV Sm
2,20011530,113,2023,CRU,MD_N02,394,5,5,100,S1 10L
3,20011530,113,2023,CRU,MD_N08,803,5,5,100,LA S FIX 6L
4,20011530,113,2023,CRU,MD_P02,2006,5,5,100,QSB67 K R120-190 T3
...,...,...,...,...,...,...,...,...,...,...
1794,20011550,846,2023,CCN,MD_G02,405,6,6,100,SC HD U + STV Sm 1X6
1795,20011550,846,2023,CCN,MD_N02,622,6,6,100,M1 TT W EHS
1796,20011550,846,2023,CCN,MD_N05,114,6,6,100,TT 890 breit
1797,20011550,846,2023,CCN,MD_N08,920,6,6,100,LTA M VAR 8L
1798,20011550,846,2023,CCN,MD_P02,2078,6,6,100,L9 K R120-320 C4

In [21]:
# Liste der gewÃ¼nschten Merkmale
merkmale = ['MD_P02', 'MD_N02', 'MD_N08', 'MD_N05', 'MD_B10', 'MD_G02']

# Erstelle ein WÃ¶rterbuch, um die DataFrames fÃ¼r jedes Merkmal zu speichern
dfs = {}

for merkmal in merkmale:
    # Filtere den DataFrame fÃ¼r das aktuelle Merkmal
    filtered_df = df[df['Merkmal'] == merkmal]
    
    # Setze den Index zurÃ¼ck
    filtered_df = filtered_df.reset_index(drop=True)
    
    # Speichere den DataFrame im WÃ¶rterbuch unter dem SchlÃ¼ssel des Merkmals
    dfs[merkmal] = filtered_df

# Jetzt kannst du auf jeden DataFrame Ã¼ber das WÃ¶rterbuch zugreifen, z.B.:
dfs['MD_P02'] # Zeigt den DataFrame fÃ¼r das Merkmal 'P02'

,Material,UTyp,Jahr,PLand,Merkmal,MerkWert,S-Merkmal,S-Maschine,%-Anteil,Bezeich.Merkmalwert
0,20011530,113,2023,CRU,MD_P02,2006,5,5,100,QSB67 K R120-190 T3
1,20011530,113,2023,TW,MD_P02,2006,1,1,100,QSB67 K R120-190 T3
2,20011530,113,2023,UZ,MD_P02,2006,1,1,100,QSB67 K R120-190 T3
3,20011530,113,2023,XS,MD_P02,2006,3,3,100,QSB67 K R120-190 T3
4,20011530,115,2023,AT,MD_P02,2040,3,3,100,B6.7 R120-190 E5/T4
...,...,...,...,...,...,...,...,...,...,...
276,20011550,845,2023,IT,MD_P02,2076,6,7,86,L9 K R120-320 E5/T4
277,20011550,845,2023,LV,MD_P02,2076,1,1,100,L9 K R120-320 E5/T4
278,20011550,845,2023,RO,MD_P02,2076,1,1,100,L9 K R120-320 E5/T4
279,20011550,845,2023,SE,MD_P02,2075,1,1,100,L9 R120-320 E5/T4
280,20011550,846,2023,CCN,MD_P02,2078,6,6,100,L9 K R120-320 C4

In [22]:

df2 = dfs['MD_P02']
# Finde alle einzigartigen Werte in der Spalte 'MerkWert'
unique_merkwerte = df2['MerkWert'].unique()

# Erstelle ein WÃ¶rterbuch, um die DataFrames zu speichern
dfs = {}

# Erstelle fÃ¼r jeden einzigartigen Wert in 'MerkWert' einen eigenen DataFrame
for wert in unique_merkwerte:
    dfs[wert] = df2[df2['MerkWert'] == wert].reset_index(drop=True)

# Nun kannst du auf jeden DataFrame Ã¼ber das WÃ¶rterbuch zugreifen, z.B.:
# Um den DataFrame fÃ¼r den MerkWert 2006 zu sehen
dfs[2006]

,Material,UTyp,Jahr,PLand,Merkmal,MerkWert,S-Merkmal,S-Maschine,%-Anteil,Bezeich.Merkmalwert
0,20011530,113,2023,CRU,MD_P02,2006,5,5,100,QSB67 K R120-190 T3
1,20011530,113,2023,TW,MD_P02,2006,1,1,100,QSB67 K R120-190 T3
2,20011530,113,2023,UZ,MD_P02,2006,1,1,100,QSB67 K R120-190 T3
3,20011530,113,2023,XS,MD_P02,2006,3,3,100,QSB67 K R120-190 T3

In [23]:
print(unique_merkwerte)

[2006 2040 2041 2011 2045 2046 2055 2056 2021 2031 2070 2071 2015 2016
 2025 2026 2060 2061 2063 2075 2073 2035 2036 2076 2078]

In [25]:
len(unique_merkwerte)

25