In [1]:
import os
parent_dir = os.path.dirname(os.getcwd())

In [12]:
import pandas as pd

# Specify the file path
file_path = parent_dir + '/external_data/agriSpot.xlsx'

# Read the Excel file into a pandas dataframe
df_agri = pd.read_excel(file_path)
df_agri = df_agri.drop(df_agri.columns[0], axis=1)
df_agri = df_agri.drop(df_agri.index[:6])
df_agri = df_agri.rename(columns={'Unnamed: 1': 'date', 'Unnamed: 2': 'agri_spot'})
df_agri.reset_index(drop=True, inplace=True)

#df_agri.to_csv(parent_dir + '/External_data_csv/df_agri.csv', index=False)

                  date agri_spot
0  2014-01-01 00:00:00   200.399
1  2014-02-01 00:00:00   201.583
2  2014-03-01 00:00:00   221.079
3  2014-04-01 00:00:00   233.772
4  2014-05-01 00:00:00    236.51

Made changes.

In [9]:
# Import the WeizenSpot.xlsx file as a pandas dataframe
df_wheat = pd.read_excel(parent_dir + '/External_data/WeizenSpot.xlsx')
df_wheat
df_wheat = df_wheat.drop(df_wheat.columns[:6], axis=1)
df_wheat = df_wheat.drop(df_wheat.index[:6])
df_wheat = df_wheat.rename(columns={'Unnamed: 6': 'date', 'Unnamed: 7': 'wheat_price'})